{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true
}
