@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v2-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('/fonts/inter-v2-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('/fonts/inter-v2-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('/fonts/inter-v2-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
      url('/fonts/inter-v2-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('/fonts/inter-v2-latin-ext_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
